<!DOCTYPE html>
<html>
<head>

	<link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />
	<script src='bower_components/jquery/dist/jquery.js'></script>
	<script src='bower_components/moment/moment.js'></script>
	<script src='bower_components/fullcalendar/dist/fullcalendar.js'></script>
</head>
<body>
	<h1>Test</h1>

	<div id="calendar"></div>

	<script>
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
	</script>

</body>
</html>