<!DOCTYPE html>
<html>
<head>

	<link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />
	<script src='bower_components/jquery/dist/jquery.js'></script>
	<script src='bower_components/moment/moment.js'></script>
	<script src='bower_components/fullcalendar/dist/fullcalendar.js'></script>
	<script src="main.js"></script>
</head>
<body>
	<h1>Test</h1>

	<div id="calendar"></div>

	<div class="modal" style="display: none;">
  <img class="avatarModal" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3243.png&amp;w=350&amp;h=254">
</div>

</body>
</html>


